<footer class="footer mt-auto bg-dark py-3">
    <div class="container">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating mx-1" href="https://github.com/Rishabh-1999">
                    <i class="fa fa-github fa-2x text-white"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating mx-1" href="https://www.linkedin.com/in/rishabh-anand-b76711161/">
                    <i class="fa fa-linkedin fa-2x text-white"> </i>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center text-white">© 2018 Copyright: Rishabh Anand
    </div>
</footer>