<header>
  <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-success text-white">
    <div class="navbar-brand">
      <a class="text-white" href="/home">
        <i class="fa fa-pagelines"></i> Organic Store
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collpase navbar-collapse" id="navbarCollpase">
      <ul class="navbar-nav mr-auto menu" role="tablist">
        <% if( shownavpro == "true"){ %>
        <li class="nav-item active">
          <a href="#fruittab" class="nav-link">Fruits</a>
        </li>
        <li class="nav-item active">
          <a href="#juicetab" class="nav-link">Juices</a>
        </li>
        <li class="nav-item active">
          <a href="#vegetabletab" class="nav-link">Vegetable</a>
        </li>
        <% } %>
      </ul>
      <div class="form-inline m-2 float-right m-2">
        <% if(data.type == "Seller"){ %>
        <a href="/user/addproductpage" class="nav-link text-white">
          <i class="fa fa-cart-plus"></i> Seller
        </a>
        <% } %>
        <% if(data.type == "Customer"){ %>
        <a href="/user/cart" class="text-white nav-link">
          <i class="text-warning fa fa-shopping-cart"></i>
          Shopping Cart <i class="text-warning" id="cart_n"> [<%= data.totalincart %>] </i>
        </a>
        <a href="/user/ordered" class="nav-link text-white">
          <i class="fa fa-shopping-basket"></i> Ordered
        </a>
        <% } %>
        <div class="nav-item dropdown mr-5">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false"><%= data.name %></a>
          <div class="dropdown-menu">
            <% if(data.type == "Customer"){ %>
            <a class="dropdown-item" href="/user/profile">Profile</a>
            <% } %>
            <a class="dropdown-item" href="/user/changepasswordpage">Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>