<% layout('layout/layout') %>

<% include partials/navbar.ejs %>

<div class="container" style="margin-top: 80px;">
    <h1><u>Admin Panel</u></h1>
    <div class="row pt-3">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">User Details</h5>
                    <a href="/adminpageUser" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Product Details</h5>
                    <a href="/adminpageProduct" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>