<header>
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-sucess text-white">
        <a class="text-white navbar-brand" href="/">
            <i class="fab fa-pagelines"></i>Organic Store
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collpase navbar-collapse" id="navbarCollpase">
            <ul class="navbar-nav mr-auto menu">
                <li class="nav -item active">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav -item active">
                    <a href="#fruit" class="nav-link">Fruits</a>
                </li>
                <li class="nav -item active">
                    <a href="#juice" class="nav-link">Juices</a>
                </li>
                <li class="nav -item active">
                    <a href="#salad" class="nav-link">Salads</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a href="/cart" class="text-white nav-link">
                    <i class="text-warning fas fa-shopping-cart"></i>
                    Shopping Cart <i style="color:yellow" id="cart_n"></i>
                </a>
                <a href="/admin" class="nav-link disabled text-white">
                    <i class="far fa-user"></i> Administrator
                </a>
            </form>
        </div>
    </nav>
 </header>
 <main role="main">
     <div class="carousel slide" data-ride="carousel" id="myCarousel">
         <ol class="carouseel-indicators">
             <li style="z-index: 102; data-target=#myCarousel" data-slide-to="0" class="active"></li>
         </ol>
     </div>
 </main>